<!-- First Parallax Section -->
<div class="jumbotron paral paralsec">
   <h1 class="name">Jan Dominique Logmao</h1>
   <p class="lead">Interactive Resume</p>
   <p class="lead">
   </p>
   </div>
   
   <!-- Second Parallax Section -->
   <div class="jumbotron paral paralsec1">
   <h1 class="display">Experiences</h1>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <h1 class="display-3"> Exp 1</h1>
         </div>
         <div class="col-md-6">
            <h1 class="display-3"> Exp 2 </h1>
         </div>
         <div class="col-md-6">
            <h1 class="display-3"> Exp 1</h1>
         </div>
         <div class="col-md-6">
            <h1 class="display-3"> Exp 2 </h1>
         </div>
      </div>
   </div>
   </div>
   
   <!-- Third Parallax Section -->
   <div class="jumbotron paral paralsec2">
   <h1 class="display">Projects</h1>
   <p class="lead">
   </p>
   </div>

   <!-- Fourth Parallax Section -->
   <div class="jumbotron paral paralsec2">
      <h1 class="display-3">Details</h1>
      <p class="lead">
      </p>
      </div>
   
   <!-- Add More Parallax Sections Here -->
   <!-- Add More Parallax Sections Here -->
<!-- Footer Section -->
<footer class="wn-footer">
   <p>Jan Dominique Logmao 2020</p>
   <p>
   <a href="#">Back to top</a>
   </p>
   </footer>